{% extends "layout.html" %}
{% block title %}
    Chat
{% endblock %}
{% block main %}
    <iframe src="https://www5.cbox.ws/box/?boxid=945254&boxtag=2rsQGE" width="400" height="400" allowtransparency="yes" allow="autoplay" frameborder="0" marginheight="0" marginwidth="0" scrolling="auto" style="border-radius:10px;"></iframe>

    <h5 class="mb-5 text-muted text-center" style="margin:25px 25px;">
        <i class="fa fa-heart" style="color:red;"></i> Thanks for visiting!
    </h5>
{% endblock %}