{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block main %}
    <div class="content-box">
        <div class="content-box-image">
            <img src="/static/rooster.png">
        </div>
        <div class="form-box">
            <form action="/login" method="post">
                <div class="mb-3">
                    <input autocomplete="off" autofocus class="form-control mx-auto w-auto" required="required" id="username" name="username" placeholder="Username" type="text">
                </div>

                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" required="required" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit"><i class="fa fa-sign-in" style="color:white;"></i> Login</button>
                <p class="mb-5 small text-center text-muted">Not Registered? Please <a href="/register">Register</a>.</p> 
            </form>
        </div>
    </div>
{% endblock %}