{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <div class="content-box">
        <div class="content-box-image">
            <img src="/static/rooster.png">
        </div>
        <div class="form-box">
            <form action="/register" method="post">
                <div class="mb-3">
                    <input autocomplete="off" minlength="6" autofocus class="form-control mx-auto w-auto" required="required" id="username" name="username" placeholder="Username" type="text">
                </div>

                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" minlength="4" maxlength="8" id="password" required="required" name="password" placeholder="Password" type="password">
                </div>

                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" minlength="4" maxlength="8" id="repassword" required="required" name="repassword" placeholder="Re-Enter Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Register</button>
                <p class="mb-5 small text-center text-muted">Already Registered? Please <a href="/login">Login</a>.</p> 
            </form>
        </div>
    </div>
{% endblock %}